{% extends 'lunch_poll/base.html' %}

{% block content %}
{{menu.uuid}}
<div class="card">
  <div class="card-header">
    <h1><b>Menu #{{ menu.id }} - {{menu.menu_date}}</b></h1>
  </div>
  <div class="card-body">
    <table class="table">
      {% if menu.menu_date %}
      <tr>
        <th>Date</th>
        <td>{{ menu.menu_date }}</td>
        <td></td>
        <td></td>
      </tr>
      {% endif %}
      {% if menu.menu_intro %}
      <tr>
        <th>Menu Description</th>
        <td>{{ menu.menu_intro }}</td>
        <td></td>
        <td></td>
      </tr>
      {% endif %}
      <!-- TODO: HERE To test concept REMOVE later -->
      {% if menu.has_options %}
      {% for option in menu.has_options.all %}
      <tr>
        <th>Menu Option</th>
        <td>{{option.choice_text}}</td>
        <td>Total: {{option.votes}}</td>
        <!-- TODO: HERE To test concept REMOVE later -->
        <td>
          <form action="{% url 'lunch_poll:selection_new'%}" method="post">
            {% csrf_token %}
            <input type="hidden" name="menu" value="{{menu.id}}">
            <input type="hidden" name="option" value="{{option.id}}">
            <div class=row>
              <div class="col-11">
                <input name="customization" class="form-control" placeholder="customization" type="text">
              </div>
              <div class="col-1">
                <button type="submit" class="fas fa-plus-circle border-0 float-right"></button>
              </div>
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>

  </div>
</div>
<div class="row mx-1">
  <a class="btn btn-outline-info" href="{% url 'lunch_poll:menu_update' menu.id %}">Update</a>
  <form action="{% url 'lunch_poll:menu_destroy' menu.id%}" method="post" class="m-0">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-danger">Destroy</button>
  </form>
</div>
{% endblock %}
