{% extends 'lunch_poll/base.html' %}

{% block content %}
<!-- TODO: Remove uuid show -->
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h1><b>Menu #{{ menu.id }} - {{menu.menu_date}}</b>
        <a tabindex="0" class="btn btn-lg btn-outline-primary float-right" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Extra info for today" data-content={{menu.menu_intro}}>
          Description
        </a>
        <a class="btn btn-outline-warning float-right btn-lg mr-2" href="{% url 'lunch_poll:reminder' menu.id %}">
          Send Slack Notification
        </a>
      </h1>
    </div>
    {% if menu.has_options %}
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          {% for option in menu.has_options.all %}
          <div class="col-6">
            <div class="card mb-3">
              <div class="card-header">
                <h3>Option: {{ forloop.counter }}
                  <button type="button" class="fas fa-search-plus border-0 float-right bg-transparent text-success" data-toggle="modal" data-target="#optionModal{{forloop.counter}}">
                  </button>
                </h3>
              </div>
              <div class="card-body">
                <p class="card-text"> {{option.choice_text}} </p>
                <p class="card-text border-top pt-2">
                  Total Selections: <b>{{option.votes}}</b>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-6 pr-0">
      <a class="btn btn-outline-info btn-block" href="{% url 'lunch_poll:menu_update' menu.id %}">Update</a>
    </div>
    <div class="col-6 pl-0">
      <form action="{% url 'lunch_poll:menu_destroy' menu.id%}" method="post" class="m-0">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger btn-block">Destroy</button>
      </form>
    </div>
  </div>
</div>
{% if menu.has_options %}
{% for option in menu.has_options.all %}
<div class="modal fade bd-example-modal-lg" id="optionModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">People who chose Option #{{forloop.counter}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          {% for selection in option.selection_set.all %}
          <li class="list-group-item">{{selection.selected_by.first_name}} {{selection.selected_by.last_name}} |
            {{selection.selected_by.email}}
            {% if selection.customization %}
            <a tabindex="0" class="btn btn-outline-primary float-right" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" data-content="{{selection.customization}}">
              Customization
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}
